    <tr>
    <td><%= link_to user.email, users_path(user) %></td>
    <td><%= render_stars user %></td>
    <td><%= user.number_of_reviews %></td>
    <td><%= user.number_of_books %></td>
    <td><%= admin_toggle(user) %></td>
    <td><%= restricted_toggle(user)%></td>  
    <td><%= delete_toggle(user) %></td>
	</tr>