
<%= render "shared/search_form.html.erb" %>

<h1>Listing books</h1>



<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :title %></th>
      <th><%= sort_link @search, :author %></th>
      <th><%= sort_link @search, :rating %></th>

      <th colspan="3">Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <%= render "table", book: book %>    
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @books %>
<br>

<%= link_to 'New Book', new_book_path %>


