<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Series:</strong>
  <%= @book.series %>
</p>
<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>
<p>
  <strong>Active:</strong>
  <%= @book.active %>
</p>
<p>
<strong>Cover:</strong>
<%= image_tag @book.cover %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
