
<%= render "shared/search_form.html.erb", path: singlesearch_books_path(@book) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @book.tag_list %>
</p>
<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>

<%= image_tag @book.cover %>
</p>

<p><strong>Rating:</strong> <%= render_stars @book %></p>


<p><strong>Reviews:</strong></p>



  <ul>
    <% @reviews.each do |review| %>
      
        <li><%= render_stars review %></li>
        <li>Reviewer: <%= review.user.email %></li>
        <li><%= review.review_text %></li>
        <% if review.user == @user %>
          <li><%= link_to 'Edit Review', [:edit, @book, review] %> |
          <%= link_to 'Delete Review', [@book, review], method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
        <br>
    <% end %>
 </ul>

<br>






<%= link_to 'Edit Book Information', edit_book_path(@book) %> |
<%= link_to 'Back to Index', books_path %> |
<%= link_to 'New Review', new_book_review_path(@book) %> |
<%= disable_or_destroy @book %>

