<%= form_for([@book, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="user_star">
    <%= render_rating_stars @review %>
  </div>
  <div id="raty_score"></div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </div>
  <div class="field">
    <%= f.hidden_field :book_id, {value: @book.id} %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
